html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

/* body, html {
  height: 100%;
} */

body{
  margin: 0;
  font-family: 'Fanwood Text', serif;
  background: #fff;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
}